<!DOCTYPE html>
<html lang="en">
	<head>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Quiz: {{ quiz.name }}</title>


	</head>

	<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
						{% if user.is_authenticated %}
							<a class="navbar-brand " href="{% url 'viewqs' %}">Pick a Quiz</a>
							<a class="navbar-brand" href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a>
							<a class="navbar-brand">{{user.username}}</a>
							<form id ="logoutForm" method="POST" action = "{% url 'logout' %}">
							{% csrf_token %}
							<input type ="hidden">
							</form>
						{% else %}
						<a class="navbar-brand active" href="{% url 'signup' %}">Sign Up</a>
						<a class="navbar-brand active" href="{% url 'login' %}">Login</a>
						
						{% endif %}

				</div>
 
					</div>
			</div>
	</nav>
	<body data-spy="scroll" data-target="#navbar-example" style = "background-color: #FCFAF9">
	<div class="container-fluid">
		<div class="jumbotron" style = "background-color: #65AFFF">
		 <h1 class = "text-center">Quiz: {{ quiz.name }}</h1>
	</div>
	
	<div class="container-fluid">
		<div id = "questionArea">
			
	<form class="navbar navbar-defaul form-control"  id="form" style = "background-color: #FCFAF9" >
		{% csrf_token %}
		<div class="row">
		<div class="col-md-3 col-md-offset-4">
		<div id = "questionArea">
		
		 {% for question in questions.all %}
		
			<br>
			<h3>{{ question.questionNumber }}. {{ question.questionText }}</h3>
			
			<form>
			 {% for option in options.all %}
			
				{% if option.option == question %}
					
					<br>
					<ul class = "text-left">
					<input type="radio"  name = {{ question.questionNumber }} value={{ option.optionText }}> {{ option.optionText }}
					</ul>
				
				{% endif %}
			
			 {% endfor %}
			</form> 
		
		 {% endfor %}

		</div>

		<br>
		<div id = "buttonArea">
			 <input type="button" id="more_fields"  onclick = "completeButton()" value="Finish" class="btn btn-primary btn-lg"></input>
		</div>
		</div>
	</form>
	</div>
			
		</div>
		
	
	</div>

	<script src="{% static 'js/app.js' %}"></script>
	</body>
</html>